<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <!-- <typeAlias type="com.yu.pojo.Userlias="User"/> 给单个类起别名-->
        <!--直接扫描这个包下的类别名就是类的名字默认小写 也可以在类上添加@Alias("stu")注解进行自定义别名-->
        <package name="com.yu.ssm.pojo"/>
    </typeAliases>


</configuration>